* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FFB900;
    --font-heading: 'Sen', sans-serif;
;
}

html, body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
    background: #FFFCF4;


}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
    cursor: pointer;
}

a[role="button"] {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 118px;
    min-height: 50px;
    padding: 11px 24px;
    border-radius: 999px;
    background-color: #171100;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    line-height: 28px;
}


.row {
    display: flex;
}

.heading {
    font-family: var(--font-heading);
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 58px;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 38px;
    line-height: 1.26;
}

/* Header */
.header {
    background-color: #FFFCF4;
    z-index: 1;
}
.header.fixed {
    position: sticky;
    top: -24px;
}
.nav-bar {
    padding: 36px 0 8px;
    display: flex;
    background: #FFFCF4;

}

.nav-bar a.logo {
    line-height: 46px;
}

.nav-bar ul {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: 49px;
}

.nav-bar li {
    position: relative;
    display: inline-block;
    padding: 8px 21px;
}

.nav-bar li a {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #5F5B53;
}

.nav-bar li.active a {
    font-weight: 600;
    font-size: 16px;
    color: #171100;
}

.nav-bar li.active::after {
    display: inline-block;
    content: "";
    position: absolute;
    bottom: 6px;
    left: 21px;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.nav-bar a[role="button"] {
    min-width: 144px;
}

/* Hero */

.hero-wrapper {
    background-color: #FFFCF4;
    padding: 64px 0;
}

.hero-wrapper .body {
    display: flex;
}

.hero-wrapper .media-block {
    position: relative;
    width: 48%;
}
.hero-wrapper .media-block .image {
    width: 470px;
    height: 685px;
    vertical-align: bottom;
    border-radius: 20px;
}

.hero-image {
    width: 470px;
    height: 685px;
    vertical-align: bottom;
}

.hero-wrapper .media-summary {
    min-width: 270px;
    position: absolute;
    right: 0;
    bottom: 48px;
    padding: 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-wrapper .media-summary .item {
    display: flex;
    align-items: center;
}

.hero-wrapper .media-summary .item:nth-child(2) {
    margin-top: 14px;
}

.hero-wrapper .media-summary .item:nth-child(3) {
    margin-top: 14px;
}

.hero-wrapper .media-summary .icon {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height:48px;
    border-radius: 50%;
    background-color: #FFF9E8;
}

.hero-wrapper .media-summary .item:nth-child(2) .icon {
    width: 48px;
    height:48px;
    border-radius: 50%;
    background-color: #FCEFFF;
}
.hero-wrapper .media-summary .item:nth-child(3) .icon {
    width: 48px;
    height:48px;
    border-radius: 50%;
    background-color: #EBEAFF;
}

.hero-wrapper .media-summary .info {
    margin-left: 16px;
}

.hero-wrapper .media-summary .info .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.hero-wrapper .media-summary .info .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;

}

.hero-wrapper .content-block {
    width: 52%;
    padding: 64px 0 0 128px;
}

.hero-wrapper .heading {
    margin-bottom: 22px;
}

.hero-wrapper .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}

.hero-wrapper .cta-group {
    display: flex;
    margin-top: 38px;
}

.hero-wrapper .cta-group a[role="button"] {
    line-height: 42px;
    background-color: var(--primary-color)
}

.hero-wrapper .cta-group .watch-video {
    display: flex;
    margin: auto;
    cursor: pointer;
}

.hero-wrapper .cta-group .play-button {
    display: flex;
    align-items: center;
    margin-right: 14px;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero-wrapper .cta-group .watch-video p {
    display: inline-block;
    margin: auto;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero-wrapper .content-block .desc {
    margin-top: 48px;
}

.hero-wrapper .content-block .stats {
    display: flex;
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}

.hero-wrapper .content-block .stats .students {
    margin-right: 28px;
}

.hero-wrapper .content-block .stats strong {
    display: inline-block;
    margin-right: 5px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

/* Popular */

.popular-top {
    display: flex;
    justify-content: space-between;
}

.popular-top-left {
    width: 39%;
}

.popular-top .sub-heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.popular-top .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}

.popular-top-right {
    display:flex;
    align-items: center;
}

.popular-top-right div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    margin-right: 18px;
}

.popular-top-right div:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.popular-bot {
    margin-top: 55px;
}

.list-courses {
    display: flex;
    justify-content: space-between;
}

.list-courses li {
    width: 31%;
}

.course-item {
    border: 1px solid #E2DFDA;
    border-radius: 12px;
    background-color: #fff;
}

.course-item .thumb {
    margin: -1px;
    width: calc(100% + 2px);
    height:278px;
    object-fit:cover;
    border-radius: 12px 12px 0px 0px;
}

.course-item .info {
    width:100%;
    padding: 16px 22px 22px 22px;
}

.course-item .info .head {
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.course-item .info .rating {
    display:flex;
    align-items: center;
    gap: 6px;
}

.course-item .info .value {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #FEA31B;
}

.course-item .info .desc {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.course-item .foot {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.course-item .foot .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.course-item .foot a {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
}

.course-item .foot a:hover {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #FFFFFF;
    background-color: var(--primary-color);
}